*{
    margin: 0;
    padding: 0;
}

/* navbar-main-page */

.navbar{
    background-color: transparent ; 
   
}
#logo{
    padding-left: 15px;
}
.navbar-nav .nav-link{      
    margin-right: 20px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.9vh;    
    color: #ffffffbd;
}
.navbar-nav .nav-link:hover{
    color: #fff;
}

/* /navbar-main-page */

.carousel{
    position: fixed ;
    margin-top: 0;
}

.galleryButton{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body */

.mainContent{
    padding: 5%;
}

.custom-line{
    border: none;
    background-color: #fff;
    border-top: 2px solid #333;
}
.showcase{
    background-color: #fff;
    margin-top: 25px;
    margin-left: 0px;
    padding: 30px;
    padding-bottom: 50px;
}
.showcase-img{
    border: transparent;
}
.showcase-card{
    height: 5em;
    width: auto;
    margin-top: 20px;  
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.29s;
    padding: 0 25px;
}
.overlay:hover{
    opacity: 1;
} 
.overlay:hover > *{
    transform: translateY(0);
} 
.overlay > *{
    transition: transform 0.29s;
    transform: scale(1.05) translateY(-0.1px);
}
.overlay-blur{
    backdrop-filter: blur(5px);
    border: transparent;
} 
.overlay-clr{
    background: hsl(168, 100%, 29%,0.6);
}
.hdig2{
    text-align: center;
    padding: 25px;
    padding-bottom: 35px;
}
/* footer */
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;  
}
#footer-logo{
    width: 99%;
    height: auto;
} 
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-column {
    flex: 1;
    padding: 20px;
    text-align: left;

}
.footer-column h3{
    color: #fff;
} 
.socials a{
    text-decoration: none;
    padding: 20px;
    align-content: center;
    justify-content: center;
}
footer ul li a{
    color:#a8a8a8;
    text-decoration: none;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.footer-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
/* /footer */

