/* navbar */

.navbar-nav .nav-link{
    
    border-radius: 20px;
    width: 7em;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.navbar-nav .nav-link:hover{
    background-color: #11111187;
    color: white;
    transition: ease-in-out 0.25s;
}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(87, 87, 87, 0.7); /* Adjust the color and opacity as needed */
    }
}

#logoimg{
    height: 2.5pc;
    width: auto;
}

/* /navbar */

/* body */

.signupForm{
    color: rgb(0, 0, 0);
    margin: 5em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.signupForm button{
    width: 100%;
    height: 50px;
}
.fa-brands{
    height: 45px;
}

.sign-gna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    box-shadow: 0 1px 4px;
    
}

.sign-gna a{
    text-decoration: none;
    color: #000000;
}

.sign-gna {
    width: 90%;
}

.sign-gna:hover {
    transform: scale(1.05) translateY(-0.1px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.line {
    border: none;
    height: 1px; 
    background-color: #000000;
    margin: 10px 0;
}

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 4px;
    position: relative;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 10px;
    width: 300px; 
}

.btn-hover-g:hover {
    background-image: linear-gradient(to right, #0091ff, #009fff, #00abff, #00b7ff, #00c2ff, #00cdff, #00d7fc, #00e0f8, #00ebee, #00f4d4, #00fbad, #00ff79);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.btn-hover-a:hover {
    background-image: linear-gradient(to right top, #4285f4, #b473df, #ed64b5, #ff6783, #ff8055, #f39137, #dda319, #beb501, #97b21e, #71ad34, #4aa647, #0f9d58);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


.custom-btn i {
    font-size: 2rem; 
    color: #000000;
    margin-right: 5px; 
}

.custom-btn span {
    text-align: center; 
}
/* /body */